.CalFlisol
{
	width:96%;
	height:60%;
	margin-left:2%;
	margin-top:2%;
	background-color:silver;
	border:2px solid gray;
	border-radius:5px;
	height:auto;
}
.CalFlisol table
{
	width:100%;
	height:100%;
	background-color:transparent;
}
.mes
{
	text-align:center;
	border-spacing:0px;
	font-family:georgia;
}
.ano thead *
{
	height:0px;
	overflow:hidden;
}
.ano .mes thead *
{
	overflow:visible;
	height:auto;
}
.dia,.inhabil,.evento
{
	border: 2px solid transparent;
}
.inhabil
{
	color:transparent;
}
.dia:hover
{
	font-weight:bold;
	border:0px solid;
}
.evento
{
	background-color:dimgray;
	border-radius:3px;
}
.ano
{
	border-spacing:20px;
}