*{margin:0px;padding:0px;border:0px}
body{background-color:lightgrey;font-family:sans-serif}
a{font-weight:bold;color:black;font-style:oblique;}
.Header
{
	width:100%;
	height:100%;
	z-index:0
}
.menus
{
	width:100%;
	height:60%;
	background-image:url('./img/barra.png');
}
.menus a
{
	float:left;
	width:17%;
	height:100%;
	color:silver;
	border-left:2px solid dimgray;
	text-decoration:none;
	font-size:70%;
	font-family:sans-serif;
	font-style: normal;
	text-align:center;
	z-index:2;
}
.menus a:hover
{
	text-decoration:underline;
}
.menus a h3
{
	position:relative;
	top:-50%;
	margin-top:-0.7em;
}
.menus a img
{
	width:100%;
	height:100%;
	position:relative;
	opacity:0;
	z-index:1
}
.menus .Primero
{
	border-left:0px solid;
	margin-left:10%;
}

.menus a img:hover
{
	opacity:0.8;
}
.contenedor
{
	width:85%;
	padding:2% 7% 0px 7%;
	height:auto;
	overflow:visible;
	position:relative;
}
.contenido
{
	width:96%;
	border:2px solid dimgray;
	border-radius:5px;
	background-color:silver;
	float:left;
}
.contenido h4
{
	margin:0.5%;
	text-align:center;
	font-family:sans-serif;
	font-size:90%;
}
.contenedor p
{
	margin:0px 0px 1% 2%;
	font-family:georgia;
	color:black;
}
.desp
{
	position:relative;
	height:45%;
	width:85%;
	margin-left:2%;
	margin-top:2%;
}
.despIzq
{
	width:35%;
	height:100%;
	background-color:silver;
	border:2px solid dimgray;
	border-radius:4px;
	position:absolute;
}
.despIzq .titulo
{
	position:absolute;
	font-size:90%;
	top:2%;
	left:2%;
	width:92%;
	height:14%;
	text-align:center;
	color:black;
	background-color:gray;
	border-radius:3px;
	z-index:5;
	opacity:0.9;
}
.despIzq img
{
	border-radius:3px;
	position:absolute;
	width:92%;
	height:96%;
	top:2%;
	left:2%;
	z-index:1;
}
.despCirc
{
	list-style-type: none;
	position:absolute;
	height:94%;
	left:95%;
	top:2%;
	width:2%;
	border:2px solid transparent;
}
li
{
	display:table;
	height:16.8%;
}

li p
{
	display:table-cell;
	vertical-align: middle;
}
.despDer
{
	position: absolute;
	list-style-type: none;
	left:35%;
	width:65%;
	bottom:2%;
	height:94%;
	overflow: visible;
}
.despDer li
{
	padding-left:2px;
}
.despDer li p
{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	background-color:gray;
	border:2px solid dimgray;
	font-size:90%;
}
.despOpc
{
	opacity:0.3;
}
.despOpcAct
{
	opacity:1;
}